/* 
* Global */
:root {
  /* colors */
  --gray-color: rgb(136, 136, 136);
  --black-color: #111;
  --red-color: #ff143c;
  --darkRed-color: #e51937;
  --blue-color: #009ae0;
  --divide-color: #d5d5d5;
  --btnText-color: rgb(235, 235, 235);
  --liText--color: rgb(161, 161, 161);
}

/* 
* Commons */

.footer,
.content {
  width: 1200px;
  margin: auto;
}

ul,
li,
a,
p,
span,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  letter-spacing: -1px;
  list-style: none;
}

* {
  text-decoration: none;
  box-sizing: border-box;
}
