.news-search {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.news-search select {
  height: 42px;
  padding: 8px 15px;
  border: 1px solid #ddd;
  font-size: 15px;
  color: #999;
}

.news-search input {
  padding: 10px 15px;
  border: 1px solid #ddd;
  margin: 0 5px;
  width: 340px;
  height: 42px;
  font-size: 15px;
  color: var(--black-color);
  transition: all 1s;
}

.news-search input:hover {
  border: 1px solid var(--black-color);
}

.news-search button {
  width: 42px;
  height: 42px;
  font-size: 25px;
  cursor: pointer;
  color: white;
  background-color: var(--black-color);
}

.news-board > p {
  text-align: end;
  margin-bottom: 0.5rem;
}

.news-board {
  margin-bottom: 2rem;
}

.news-board table {
  border-top: 1px solid var(--black-color);
}

.news-board table th {
  border-bottom: 1px solid lightgray;
  font-size: 16px;
  font-weight: 500;
  padding: 20 0;
}

.news-board-th1 {
  width: 100px;
}

.news-board-th2 {
  width: 700px;
}

.news-board-data {
  text-align: center;
  border-bottom: 1px solid var(--divide-color);
}

.news-board-data td {
  font-size: 15px;
  font-weight: 400;
  padding: 1rem 0 1.2rem 0;
}

.news-board-data-title {
  display: block;
  cursor: pointer;
  color: var(--black-color);
}

.news-write {
  display: none;
}

/**************** 
** NewsContent
*****************/

.newsContent-titleBox {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem 1.2rem 2rem;
  border-bottom: 1px solid var(--divide-color);
}

.newsContent-titleBox div {
  display: flex;
  gap: 0.8rem;
}

.newsContent-titleBox h3 {
  font-weight: 500;
}

.newsContent-titleBox-date,
.newsContent-titleBox-hits {
  font-size: 14px;
  color: gray;
}

.newsContent-titleBox-date::after {
  content: "｜";
  margin-left: 0.8rem;
}

.newsContent-contents {
  padding: 2rem;
  border-bottom: 1px solid var(--divide-color);
}

.newsContent-subBox {
  display: flex;
  gap: 2rem;
  padding: 1rem 1rem 1rem 2rem;
  border-bottom: 1px solid var(--divide-color);
}

.newsContent-subBox button {
  font-size: 14px;
  color: gray;
  border: none;
  background: none;
}

.newsContent-subBox span {
  font-size: 14px;
  color: gray;
}

.newsContent-listBox {
  text-align: center;
}

.newsContent-list {
  padding: 1rem 6rem 1.2rem 6rem;
  margin: 2rem;
  font-size: 18px;
  background-color: var(--black-color);
  cursor: pointer;
  color: whitesmoke;
}

.news-pagingBox {
  position: relative;
  padding: 3rem 0;
  margin-bottom: 7rem;
  /* border: 1px solid blue; */
}

.news-paging {
  position: absolute;
  left: 45%;
  /* border: 1px solid red; */
}

.rc-pagination-item-active {
  border: none !important;
  font-weight: 900 !important;
}

.rc-pagination-item {
  border: none !important;
  font-size: 15px !important;
}

.rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-next .rc-pagination-item-link {
  border: none !important;
  font-size: 15px !important;
}

.rc-pagination-item-active a {
  color: var(--black-color) !important;
}

/* pagination.module.css */
.rc-pagination-prev button::after,
.rc-pagination-next button::after {
  content: none !important;
}
