/* 애니메이션 정의 */
@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  from {
    background-color: rgba(0, 0, 0, 0.2);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 65, 65, 0.03);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s forwards;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.modal.fade-out {
  animation: fadeOut 0.5s forwards;
  opacity: 0;
}

.modalcontainer {
  overflow: hidden;
  width: 988px;
  height: 780px;
}

.modalcontent {
  background-color: white;
  position: relative;
  z-index: 10;
  height: 780px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modalopenbtn {
  position: absolute;
  top: 243px;
  left: 243px;
  background-color: rgba(69, 69, 69, 0.8);
  color: white;
  font-size: 20px;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
}

.modalclosebtn {
  position: absolute;
  top: 23px;
  right: 25px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
