.popular-content {
  width: 1200px;
  margin: auto;
}

.popular-set-menu {
  padding-top: 35px;
  position: relative;
}

.popular-set-menu-image {
  position: relative;
  cursor: pointer;
}

.popular-set-menu-box {
  margin: 10px;
}
.popular-set-menu-title {
  font-size: 18px;
  font-weight: bold;
  color: #111111;
}

.popular-set-menu-title-date {
  margin-top: 10px;
  font-size: 15px;
  color: #888888;
  margin-bottom: 90px;
}

.popular-modal-button {
  position: absolute;
  top: 235px;
  left: 550px;
  font-size: 20px;
  width: 35px;
  height: 35px;
  color: white;
  background-color: #333333;
  border: none;
  cursor: pointer;
}
