* {
  list-style-type: none;
}
.header,
.footer,
.content {
  width: 1200px;
  margin: auto;
  padding: 0;
}
.header {
  border: 1px solid tomato;
}

/* !!로그인 */
.login-h2 {
  border-bottom: 1px solid black;
  padding: 20px 0;
}

.login-lnlbutton {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
}

.login-lnlbutton button {
  padding: 10px 50px;
  border: none;
}
.login-lnlbtn1 button {
  background-color: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}
.login-lnlbtn2 button {
  border-bottom: 1px solid black;
}
.login-lnlbutton1 button {
  border-bottom: 1px solid black;
}
.login-lnlbutton2 button {
  background-color: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}
.login-id,
.login-pass {
  /* border: 1px solid green; */
  padding: 10px 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.login-id {
  margin-top: 40px;
}
.login-id input,
.login-pass input {
  width: 325px;
  height: 30px;
}
.login-save-find {
  /* border: 1px solid skyblue; */
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 10px 0;
}
.login-find button {
  border: none;
  background-color: white;
}
.login-find button:first-child {
  border-right: 1px solid #777;
  margin-right: 3px;
}
.login-find button:last-child {
  margin-left: 3px;
}

.login-button,
.signin-button {
  display: flex;
  justify-content: center;
}
.login-button button,
.signin-button button {
  width: 325px;
  height: 50px;
}
.login-button button {
  border: none;
  background-color: red;
  color: white;
  margin-bottom: 10px;
}
.signin-button button {
  border: 1px solid gray;
  background-color: white;
  border-radius: none;
}

/*!!회원가입  */
.signup {
  border: 1px solid green;
  text-align: center;
  padding-bottom: 140px;
  /* background-image: url(../../public/ditto.jpg); */
}
.signup h1 {
  text-align: left;
  border-bottom: 1px solid black;
}
.signup textarea {
  width: 700px;
  height: 400px;
}
.signup-phone select,
.signup-phone input {
  width: 70px;
  height: 25px;
}

/* !!지도!!! */
.branch-marker {
  border: 1px solid tomato;
}
.branch-h2 {
  border-bottom: 1px solid black;
  font-weight: lighter;
  padding-bottom: 20px;
}
.branch {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.branch-result {
  border: 1px solid #999;
  width: 400px;
  height: 600px;
}
.branch-select {
  width: 190px;
  height: 50px;
  border-bottom: 1px solid #777;
  margin-bottom: 50px;
  font-size: 1rem;
  margin-left: 5px;
}
.branch-infos {
  max-width: 400px;
  max-height: 440px;
  overflow: scroll;
  overflow-x: hidden;
}
.branch-info {
  border: 1px solid #999;
  border-left: none;
  border-right: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
.branch-info div:first-child {
  font-weight: bold;
}
.branch-info div:last-child {
  color: #999;
}
