.recruit {
  text-align: left;
}

.recruit h3 {
  margin: 2rem 0 1rem 0;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.recruit-info {
  position: relative;
  padding: 1.5rem;
  margin-bottom: 4rem;
  background-color: var(--box-color);
}

.recruit-info-map {
  font-size: 14px;
  margin-bottom: 1rem;
}

.recruit-info-map p {
  color: var(--black-color);
}

.recruit-info ul li:not(:first-child) {
  font-size: 14px;
  color: var(--orange-color);
}

.recruit-info button {
  position: absolute;
  right: 1rem;
  top: 2rem;
  padding: 0.3rem 0.2rem;
  cursor: pointer;
  color: whitesmoke;
  background-color: var(--black-color);
}

.recruit-search {
  text-align: center;
  margin-bottom: 4rem;
}

.recruit-search select,
.recruit-search input {
  border: 1px solid var(--divide-color);
  padding: 0.5rem 1rem;
  font-size: 15px;
  margin-right: 0.5rem;
  color: var(--gray-color);
  transition: all 0.5s;
}

.recruit-search input:hover {
  border: 1px solid var(--black-color);
}

.recruit-search button {
  width: 150px;
  height: 42px;
  font-size: 15px;
  cursor: pointer;
  color: whitesmoke;
  background-color: var(--black-color);
}

.recruit-search span {
  display: block;
  font-weight: 500;
  font-size: 14px;
  margin: 1rem 0;
  text-align: right;
  color: var(--orange-color);
}

.recruit-search table {
  position: relative;
  margin-bottom: 4rem;
}

.recruit-th1 {
  width: 100px;
}
.recruit-th2 {
  width: 600px;
}

.recruit-tr {
  height: 100px;
  border-bottom: 1px solid var(--divide-color);
}

.recruit-search table td {
  position: absolute;
  display: block;
  top: 4rem;
  right: 45%;
  padding: 2rem 0;
  color: gray;
}

.recruit-wantPerson {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.recruit-wantPerson div {
  width: 270px;
  margin-right: 3rem;
}

.recruit-wantPerson div p {
  color: var(--black-color);
}
.recruit-wantPerson div p:last-child {
  font-size: 14px;
  margin-top: 0.3rem;
}

.recruit-rankSystem {
  display: flex;
  align-items: center;
  gap: 7rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.6px 1.95px 1.95px 0;
  background-color: var(--box-color);
}

.recruit-rankSystem div {
  position: relative;
  width: 200px;
  padding: 1.5rem 2rem;
}

.recruit-rankSystem div::after {
  position: absolute;
  content: "";
  top: 1.5rem;
  left: 16rem;
  height: 65px;
  width: 1px;
  background-color: lightgray;
}

.recruit-rankSystem div p {
  width: 200px;
  color: var(--black-color);
}

.recruit-rankSystem-engName {
  font-size: 24px;
  line-height: 90%;
}

.recruit-rankSystem-korName {
  margin-top: 0.2rem;
  color: gray !important;
}

.recruit-rankSystem > p {
  padding: 1.5rem 3rem;
  font-size: 14px;
  color: var(--black-color);
}

.recruit-workCondition-box {
  display: flex;
  gap: 1rem;
  align-items: start;
  margin-bottom: 3rem;
}

.recruit-workCondition-box img {
  height: 50px;
}

.recruit-workCondition-box div p {
  color: var(--black-color);
  width: 150px;
}

.engTitle {
  font-size: 30px;
}
.korTitle {
  font-size: 18px;
}

.recruit-workCondition-box ul li {
  font-size: 14px;
}

.recruit-workCondition-box ul li::before {
  content: "·";
  font-size: 20px;
  vertical-align: middle;
}

.recruit-dotLine:not(:last-child) {
  margin-top: 40px;
  padding-top: 46px;
  background: url("https://cdn.dominos.co.kr/renewal2018/w/img/bg/bg_dot_line.png")
    repeat-x;
}

.recruit-workCondition {
  margin-bottom: 5rem;
}

.recruit-process {
  margin-bottom: 8rem;
}

.recruit-process-box:not(:last-child) {
  display: inline-block;
  vertical-align: top;
  width: 205px;
  height: 350px;
  padding: 1rem 2.5rem 1rem 1.5rem;
  margin-right: 0.5rem;
  text-align: center;
}
.recruit-process-box:last-child {
  display: inline-block;
  vertical-align: top;
  width: 205px;
  height: 350px;
  padding: 1rem 1.5rem;
  margin-right: 0.5rem;
  text-align: center;
}

.recruit-process-box:not(:last-child) {
  background: url("https://cdn.dominos.co.kr/renewal2018/w/img/lst_jop_step_bg.png")
    no-repeat;
}

.recruit-process-box:last-child {
  width: 190px;
  background: url("https://cdn.dominos.co.kr/renewal2018/w/img/lst_jop_step_bg2.png")
    no-repeat;
}

.recruit-process-box p:first-child {
  color: var(--black-color);
  text-align: left;
  margin-bottom: 1rem;
}

.process-title,
.process-desc {
  color: var(--black-color);
  margin-bottom: 0.5rem;
}

.process-title {
  font-size: 18px;
}

.process-desc {
  font-size: 14px;
  margin-bottom: 1rem;
  line-height: 22px;
}

/*************************
** tab2 - 아르바이트직
**************************/
.recruit-partTime-img {
  margin-bottom: 2.5rem;
}

.recruit-parttime {
  margin-bottom: 7rem;
}

.recruit-parttime h3 {
  margin-bottom: 0;
}

.recruit-parttime p {
  font-size: 18px;
  margin-bottom: 1rem;
  color: var(--black-color);
}

.recruit-parttime ol li {
  font-size: 14px;
  margin-bottom: 1rem;
}

.recruit-parttime ol li::before {
  content: "· ";
  font-size: 14px;
  font-weight: 900;
}

.parttime-box {
  padding: 3rem 1.5rem;
  background-color: var(--box-color);
}

.parttime-box ul div {
  margin-bottom: 1.5rem;
}

.parttime-box ul div li {
  font-size: 14px;
}

.parttime-box ul:last-child li {
  color: var(--orange-color);
}

.parttime-box ul:last-child li:not(:first-child) {
  font-size: 14px;
}

.recruit-parttime ol:last-child {
  position: relative;
  margin-top: 1rem;
}

.recruit-parttime a {
  position: absolute;
  right: 31rem;
  top: 1.7rem;
  border: 1px solid var(--divide-color);
  font-size: 14px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.recruit-parttime > button {
  position: absolute;
  right: 13rem;
  top: 4rem;
  border: 1px solid var(--divide-color);
  font-size: 14px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: white;
}

/* 모달 */
.recruit-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.recruit-modal-open-btn {
  position: absolute;
  right: 13rem;
  top: 4rem;
  border: 1px solid var(--divide-color);
  font-size: 14px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: white;
  cursor: pointer;
  margin-left: auto;
}

.recruit-modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
}

/* ------- 모달 내용 --------- */

.recruit-modal-content {
  position: relative;
  background-color: #ffffff;
  width: 580px;
}

.recruit-modal-content input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}

.recruit-modal-content input[type="radio"]:checked {
  border: 3px solid white;
  box-shadow: 0 0 0 1.6px var(--red-color);
  background-color: var(--red-color);
}

.recruit-modal-header {
  position: sticky;
  top: 0;
  z-index: 30;
  width: 580px;
  text-align: center;
  /* margin-bottom: 1.5rem; */
  border-bottom: 1px solid var(--divide-color);
  background-color: white;
}

.recruit-modal-header span {
  font-size: 22px;
  font-weight: 500;
}

.recruit-modal-body {
  z-index: 1;
  overflow: auto;
  max-height: 650px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.recruit-modal-body::-webkit-scrollbar {
  width: 8px;
}
.recruit-modal-body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.recruit-modal-body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #bababa;
}

.recruit-modal-header,
.recruit-modal-body {
  padding: 1rem 2.5rem;
  border-bottom: 1px solid var(--divide-color);
}

.recruit-modal-body div > p {
  font-size: 16px;
  font-weight: 500;
}

.recruit-modal-law-box {
  border-bottom: 1px solid var(--divide-color);
  margin-bottom: 2rem;
}

.recruit-modal-law-content {
  width: 492.5px;
  padding: 20px 9px 20px 24px;
  max-height: 144px;
  font-size: 13px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #f3f3f3;
  color: rgb(182, 182, 182);
}

.recruit-modal-law-content::-webkit-scrollbar {
  width: 8px;
}
.recruit-modal-law-content::-webkit-scrollbar-track {
  /* background-color: #f1f1f1; */
  border: 1px solid #ddd;
  border-radius: 5px;
}
.recruit-modal-law-content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #bababa;
}

.modal-law-radios {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  margin: 1.3rem 0;
}

.modal-law-radios div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.recruit-modal-close-btn {
  position: absolute;
  right: 3rem;
  top: 1rem;
  font-size: 22px;
  background: none;
  border: none;
}

.recruit-modal-form > div {
  margin-bottom: 1.5rem;
}

.recruit-modal-form label {
  display: inline-block;
  width: 120px;
  flex-shrink: 0;
}

.recruit-modal-form label,
.recruit-modal-selects div span {
  font-size: 16px;
  font-weight: 500;
}

.recruit-modal-selects div span {
  margin-right: 0.4rem;
}

.recruit-modal-select-1 {
  margin-bottom: 0.6rem;
}

.recruit-modal-selects div select {
  margin-right: 0.3rem;
  width: 160px;
  height: 42px;
  font-size: 16px;
  padding-left: 0.5rem;
  border: 1px solid lightgray;
  color: gray;
}

.recruit-modal-region {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

.recruit-modal-part {
  display: flex;
}

.recruit-modal-part input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}

.recruit-modal-part input:checked {
  border: 3px solid white;
  box-shadow: 0 0 0 1.6px var(--red-color);
  background-color: var(--red-color);
}

.recruit-modal-part-radios {
  display: flex;
  gap: 2rem;
}

.recruit-modal-part-radios div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* 
* 공통 적용 사항 
*/
.recruit-modal-startDate,
.recruit-modal-canPeriod,
.recruit-modal-name,
.recruit-modal-address,
.recruit-modal-phone,
.recruit-modal-etc {
  display: flex;
  align-items: center;
}

.recruit-modal-body input[type="text"],
.recruit-modal-body textarea,
.recruit-modal-startDate input {
  border: 1px solid lightgray;
  height: 42px;
  transition: all 0.5s;
}
.recruit-modal-body input[type="text"]:hover,
.recruit-modal-body textarea:hover,
.recruit-modal-startDate input:hover {
  border: 1px solid var(--black-color);
}

.recruit-modal-startDate input {
  position: relative;
  width: 153px;
  height: 42px;
  border: 1px solid lightgray;
  cursor: text;
}

.recruit-modal-startDate input::-webkit-datetime-edit-text,
.recruit-modal-startDate input::-webkit-datetime-edit-month-field,
.recruit-modal-startDate input::-webkit-datetime-edit-day-field,
.recruit-modal-startDate input::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  color: gray;
  /* display: none; */
}

.recruit-modal-startDate input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: text;
}

.recruit-modal-canPeriod div select {
  width: 153px;
  height: 42px;
  border: 1px solid lightgray;
  color: gray;
  padding: 0 1rem;
}

.recruit-modal-canPeriod-accent {
  font-size: 14px;
  color: var(--red-color);
  margin-left: 5px;
  white-space: normal;
}

.recruit-modal-address-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.recruit-modal-address-box > div {
  display: flex;
  gap: 0.5rem;
}

.recruit-modal-address-box button {
  height: 42px;
  padding: 0.3rem 1rem;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--black-color);
  color: whitesmoke;
}

.recruit-modal-address-box > input {
  width: 372.5px;
}

.recruit-modal-phone div {
  display: flex;
  align-items: center;
}

.recruit-modal-phone select {
  width: 114px;
  height: 42px;
  padding: 0 1rem;
  font-size: 15px;
  margin-right: 0.3rem;
  color: gray;
  border: 1px solid lightgray;
}
.recruit-modal-phone input {
  width: 114px;
  margin: 0 0.3rem;
}

.recruit-modal-etc textarea {
  width: 100%;
  height: 160px;
  max-height: 160px;
  overflow-y: scroll;
}

.recruit-modal-etc textarea::-webkit-scrollbar {
  width: 8px;
}
.recruit-modal-etc textarea::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.recruit-modal-etc textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #bababa;
}

.recruit-modal-btn {
  display: flex;
  justify-content: space-between;
}

.recruit-modal-btn button {
  width: 239px;
  padding: 1rem;
  font-size: 19px;
  border: none;
  cursor: pointer;
  color: whitesmoke;
}

.recruit-modal-btn button:first-child {
  background-color: var(--black-color);
}
.recruit-modal-btn button:last-child {
  background-color: var(--red-color);
}

/* .recruit-postmodal {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 55%;
  top: 30%;
  height: 100%;
  width: 100%;
  border: 1px solid #777;
} */
